body{
    background-color: #d8b0ff; /* Light Gray */

    }
*{
 
    padding: 0;
    margin: 0;
}
.todo-container{
     width: 30rem;
     background-color: #30074d; /* Dark Purple */
     padding : 1rem 4rem 6rem 4rem;
    margin: 3rem auto;
    display: flex;
    border-radius: .4rem;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.form{
    width: 100%;
    display:  flex; 
    padding: 1rem;
    /* margin-bottom: 1.5rem; */
    flex-direction: column;
    align-items: center;
    border-radius: .3rem;
    background-color: #30074d; 

}
.form div{
    position: relative;
    background-color: #4457C9;
    width: 100%;
    display: flex;    
    justify-content: center;

}
/* Style for the to-do input */
input[type="text"] {
    width: 95%;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 2px;
    background-color: #7c32cc;
    /* background-color: #30074d;  */

    font-size: 1.2rem;
    color: #fff; 
    outline: none;
}
.form label {
    margin: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #fff;
}
.btn-submit{
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    transition: .3s;
    border: 2px solid #fff;
    padding:  1rem 2.5rem ;
    background-color: transparent;
    position: absolute;
    color: #f2f2f2;
    top :0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.btn-submit:hover{
background-color: #30074d; /* Dark Purple */

}


.item-container{
    width: 100% !important;
    list-style-type: none;
    border-radius: .3rem;
}
.item{
    width: 100% ;
    margin:1.5rem 0;
    border-radius: .3rem;
    background-color: #7c32cc;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    padding: .3rem 0;
    justify-content: space-between;
    cursor: pointer;
}

.item .toggle-btns{
    width: 20%;
    margin-top: .8rem;
}
.item .title-box{
width: 80%;
display: flex;
justify-content: flex-start;
}
.item .title-box span {
padding: .5rem;
font-size: 1.8rem;
color:#f2f2f2;
text-decoration-thickness: bold;
}

.check-input input{
    height: 1.2rem;
    width: 1.2rem;
    margin-top: .3rem;
    accent-color: #e5771f;
    cursor: pointer;
}
.item-text{
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
}
.toggle-edit , .toggle-close{
    font-size: 1.3rem;
    cursor: pointer;
    margin: 0 .5rem;
}
.status-bar{
    width: 100%;
    padding: 2rem 0;
    bottom: 0;
    text-align: center;
    font-family:s;
    color: #fff;
    border: 1px solid #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
}
.display-none{
    display: none;
};